html,
body,
div,
nav,
section,
h2,
p,
ul,
img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

* {
	box-sizing: border-box;
}

@import 'variables';

body {
  font-family: $font-stack;
  color: $text-color-primary;
}
