html,
body,
div,
nav,
section,
h2,
p,
ul,
img {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  color: #848789;
}
