//header
.bd {
  &__header {
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 400px;
    background: url("../images/bg/header.png") no-repeat center top/cover;
    
      @media screen and (max-width: 1100px) {
        padding-top: 25px;
      }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__li {
  text-align: center;  
  text-transform: uppercase;
  list-style-type: none;
  margin-right: 4%;
  font-size: 16px;

    &:first-child:after,
    &:nth-child(4):after {
      content:".";
      position: relative;
      right: -24px;
      cursor: default;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }    

    &:last-child {
      margin-right: 0;
    }
  }

  &__header-a {
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
    color: #4d4959;
    

    &:hover {
    color: #64c29e;
    }
  }

  @media screen and (max-width: 700px) {
    &__nav {
    flex-wrap: wrap;
    }

    &__header-a {
      margin: 0;
      flex-basis: 50%;
    }
    
    &__li {
      margin-right: 3%;

      &:first-child {
        order: 1;
        position: relative;      
      }
      
      &:nth-child(2) {
        order: 2;
        position: absolute;
        top: 120px;
        left: 18%;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(5) {
        order: 4;
        position: relative;          
      }

      &:nth-child(4) {
        order: 5;
        position: absolute;
        top: 120px;
        right: 16%;
      }
    }
  } 

//second section
  &__about-feedbacks {
    padding-top: 119px;
    padding-bottom: 140px;
    background-color: #f7f7f7;
      
      &-container {
        width: 67%;
        margin: 0 auto;
      }
  }

  //third section
  &__details {
    display: flex;
  }

  &__more {
    background-color: #282f35;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-evenly;
  }

  &__contacts {
    background-image: url('../images/bg/logo.png');
    background-position:  50% 20%;
    background-repeat: no-repeat;
    padding: 15% 4% 8%;
    text-align: center;

      &-par {
        font-size: 24px;
        line-height: 34px;
        font-style: italic;

        @media screen and (max-width: 900px) {
          padding-top: 60px;
        }
      }
  }

  &__frm {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 95px;
    background-color: #f7f7f7;
    padding-bottom: 75px;

      &-par {
      line-height: 18px;

        &--bold {
          font-weight: bold;
        }

        &--italic {
          font-style: italic;
          white-space: nowrap;
        }
      }
  }  

  &__social {
    display: flex;
  }

  &__link-social-icon {
    margin-right:  5%;
    margin-left:  5%;
  }

  &__hand-crafted {
    display: flex;
    align-items: center;
  }

  &__link-yebo {
    margin-left: 5%;
  }
}


