//header
.bd {
  &__header {
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 400px;
    background: url("../images/bg/header.png") no-repeat center top/cover;
    
      @media screen and (max-width: 1100px) {
        padding-top: 25px;
      }
  }  

//second section
  &__about-feedbacks {
    padding-top: 119px;
    padding-bottom: 140px;
    background-color: $background-silver-color;
      
      &-container {
        width: 67%;
        margin: 0 auto;
      }
  }

  //third section
  &__details {
    display: flex;
  }

  &__more {
    background-color: $background-dark-color;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-evenly;
  }

  &__contacts {
    background-image: url('../images/bg/logo.png');
    background-position:  50% 20%;
    background-repeat: no-repeat;
    padding: 15% 4% 8%;
    text-align: center;

      &-par {
        font-size: 24px;
        line-height: 34px;
        font-style: italic;

        @media screen and (max-width: 900px) {
          padding-top: 60px;
        }
      }
  }

  &__form {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 95px;
    background-color: $background-silver-color;
    padding-bottom: 75px;

      &-par {
      line-height: 18px;

        &--bold {
          font-weight: bold;
        }

        &--italic {
          font-style: italic;
          white-space: nowrap;
        }
      }

      &-a {
        text-decoration: none;
        transition-duration: 0.1s;
        cursor: pointer;
        color: $dark-color-for-link;    

          &:hover {
          color: $green-primary;
          }
      }
  }  

  &__social {
    display: flex;
  }

  &__link-social-icon {
    margin-right:  5%;
    margin-left:  5%;
  }

  &__hand-crafted {
    display: flex;
    align-items: center;
  }

  &__link-yebo {
    margin-left: 5%;
  }
}