.text-block {
  padding-top: 70px;
  text-align: center;
  background: url('../images/bg/icon2.png');
  background-position:  50% 0;
  background-repeat: no-repeat;
  color: #848789;

    &__heading {
      text-transform: uppercase;
      color: black;
      line-height: 1.2;
    }

    &__h3 {
      color: black;
      font-size: 15px;
      line-height: 1.2;

      &--span {
        color: #848789;
      }
    }

    &__par {
      margin-top: 27px;
      line-height: 34px;

      &--i {
        font-style: italic;
      }
    }
    &--twitter {
      background-image: url("../images/bg/twitterblue.png");
    }    
}