$font-stack: 'Lato', 'Arial', sans-serif;
$green-primary: #64c29e;
$green-primary-alpha5: rgba(100,194,158,0.5);
$grey-primary: #a9afb3;
$text-color-primary: #848789;
$background-silver-color: #f7f7f7;
$color-for-line-element: #d7d7d7;
$background-dark-color: #282f35;
$black-color: #000;
$white-color: #fff;
$white-color-alpha5: rgba(255,255,255,0.5);
$white-color-alpha4: rgba(255,255,255,0.4);
$grey-dark: #929292;
$dark-color-for-link: #4d4959;
$color-for-input: #d3d7d9;
